.goBack{
    position: relative;
    background: #ea6657;
    color: #fff;
    padding: 10px;
    height: 100px;
}

.signType{
    position: relative;
    display: flex;
    text-align: center;
    font-size: 18px;
    top: 35px;
}

.signType div{
    width: 50%;
}

.caretTop{
    position: relative;
    top: -14px;
    color: #fff;
    font-size: 16px;
    width: 100%;
}

.caretTop .leftI{
    position: relative;
    left:23%;
}

.caretTop .rightI{
    position: relative;
    left: 68%;
}

.input{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0px 10px;
    border-bottom: 1px solid #F5F5F9;
    background: #fff;
}

.input input{
    flex:1;
}

.send{
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #d0021b;
}

.num{
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #d0021b;
}


.password{
    padding: 0px 10px;
    font-size: 14px;
    line-height: 24px;
}

.password span{
    float: right;
}

.buttonGroup{
    padding: 10px;
}

.buttonGroup button{
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.buttonGroup .signIn{
    color: #fff;
    background: #d0021b;
}

.buttonGroup .signUp{
    background: #fff;
    border: 1px solid #bbb;
}

