.logo{
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
}

.logo img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: block;
    margin: 0px auto 10px;
}

.phone{
    position: absolute;
    bottom: 30px;
    text-align: center;
    font-size: 12px;
    width: 100%;
    line-height: 22px;
}
