

.totalMatch{
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding: 0 10px;
    box-sizing: border-box;
    background: #ddd;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.totalMatch i{
    position: absolute;
    right: 10px;
}