<app-common-title [showReturn]=true [title]='title'></app-common-title>

<div class="page">
  <ul class="tradeListUl">
    <li>
      <div>我的头像</div>
      <div>
        <el-upload class="avatar-uploader" action="https://jsonplaceholder.typicode.com/posts/" [show-file-list]="false"
          (success)="successHandle($event)" (error)="errorHandle($event)">
          <ng-template #trigger>
            <img *ngIf="imageUrl" [src]="imageUrl" class="avatar avatarImg">
            <i *ngIf="!imageUrl" class="el-icon-plus avatar-uploader-icon"></i>
          </ng-template>
        </el-upload>
        <i class="iconfont icon-right"></i>
      </div>
    </li>
    <li routerLink="changenick">
      <div>昵称</div>
      <div>多大点事儿<i class="iconfont icon-right"></i></div>
    </li>
    <li class="marginTop10" routerLink="changephonenum">
      <div>绑定手机号</div>
      <div>188******46
        <i class="iconfont icon-right"></i>
      </div>
    </li>
    <li class="marginTop10" routerLink="changeweixin">
      <div>微信帐号</div>
      <div>188******46
        <i class="iconfont icon-right"></i>
      </div>
    </li>
    <li routerLink="changezhifubao">
      <div>支付宝账号</div>
      <div>188******46
        <i class="iconfont icon-right"></i>
      </div>
    </li>
    <li routerLink="changeqq">
      <div>QQ账号</div>
      <div>188******46
        <i class="iconfont icon-right"></i>
      </div>
    </li>
    <li class="marginTop10" routerLink="changeloginpassword">
      <div>管理登录密码</div>
      <div>
        <i class="iconfont icon-right"></i>
      </div>
    </li>
    <li class="marginTop5">
      <div>管理支付密码</div>
      <div>
        <i class="iconfont icon-right"></i>
      </div>
    </li>
  </ul>

  <div class="signOut" (click)="signOut()">退出登录</div>
</div>