.firmOrderContainer{
  padding: 50px 0px 100px 0px;
}

.firmOrder{
  width: 98%;
  margin: 3px auto;
  background: #fff;
  border-radius: 3px;
  padding: 3px 5px;
  max-height: 200px;
  overflow-y: scroll;
}

.firmOrderHeader{
  position: relative;
  font-size: 12px;
  color: #bbb;
  margin-bottom: 10px;
}

.firmOrderHeader span{
  position: absolute;
  right: 5px;
}

.firmOrderList{
  display: flex;
}

.rightContent{
  margin-left: 3px;
  width: 100%;
}

.firmOrderListDetail{
  position: relative;
  display: flex;
  font-size: 14px;
  color: #222;
  line-height: 26px;
}

.firmOrderListDetail #can{
  position: absolute;
  right: 10px;
  width: 16px;
  height: 16px;
  top: 3px;
  text-align: center;
  line-height: 16px;
}

.firmOrderListDetail .can{
  background: #bbb;
}

.canSelectDan{
  background: #eee;
  color: #bbb;
}

.firmOrderListDetail .selectCan{
  background: #f3a20b;
  color: #fff;
}

.firmOrderListDetail #can input{
  position: absolute;
  width: 16px;
  height: 16px;
  opacity: 0;
}

.firmOrderListItem{
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  background: #bbb;
  padding: 0px 5px;
}

.firmOrderFooter{
  position: relative;
  font-size: 12px;
  color: #bbb;
  text-align: center;
  margin: 15px 0px 10px 0px;
}

.type div{
  position: relative;
  background: #F5F5F9;
  border: 1px solid #bbb;
  border-radius: 3px;
  margin: 0px 6px 6px 0px;
  width: 23%;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 13px;
  float: left;
  /* padding: 0px 12px; */
  /* display: flex; */
}

.selectThisGuan{
  color: #fff;
  border: 1px solid #d0021b !important;
  background: #d0021b !important;
}

.multiples{
  padding: 0px 20px;
  text-align: center;
  font-size: 14px;
}

.multiples span{
    width: 30px;
    text-align: center;
    display: inline-block;
}

.multiples input{
  background: #bbb;
  width: 60px;
  display: inline-block;
  height: 26px;
  color: #d0021b;
  font-size: 16px;
  text-align: center;
}

.multiples .num{
  font-weight: bold;
  width: 50px;
}


.type input{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  opacity: 0;
}

.scoreSelect{
  background: #d0021b !important;
  color: #fff !important;
}


.shoudRead{
  background: #bbb;
  padding: 3px 10px;
  font-size: 13px;
}

.userShouldKnow{
  width: 98%;
  margin: 3px auto;
  background: #fff;
  border-radius: 3px;
  padding: 3px 5px;
}

/* 彩店信息 */
.shopAddress{
  position: fixed;
  bottom: 40px;
  width: 100%;
  height: 50px;
  background: #fff;
  display: flex;
  font-size: 14px;
  box-shadow: 3px 0px 3px #bbb;
  padding: 5px;
}

/* 底部 提交彩票店 */
.bottomNext{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    font-size: 12px;
    display: flex;
    padding: 3px 5px;
    box-sizing: border-box;
    background: #222;
    color: #fff;
}

.bottomLeft{
  flex: 1;
}

.bottonRight{
  width: 68px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background: #bbb;
  border-radius: 3px;
  margin: auto 0;
}

.bottonRightRed{
  width: 68px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 3px;
  margin: auto 0;
  background: #d0021b;
}