<app-common-title [showReturn]=false [title]='title'></app-common-title>
<div class="page">
    <div class="menuList">
        <el-dropdown [model]="data" trigger="click" (selected)="handle($event)" class="menuItem">
            {{value}}
        </el-dropdown>
        <el-dropdown [model]="data" trigger="click" (selected)="handle($event)" class="menuItem">
            下拉菜单2
        </el-dropdown>
        <el-dropdown [model]="data" trigger="click" (selected)="handle($event)" class="menuItem">
            下拉菜单3
        </el-dropdown>
    </div>

    <div class="tradeList">
        <ul>
            <li class="list" *ngFor="let item of tradeData.list" (click)="teadeDetail(item)">
                <div class="ballKinds">
                    <img src="../../assets/football.jpg" alt="">
                    <div>{{item.gameName}}</div>
                </div>
                <div class="listTimeAndMoney">
                    <p class="money">{{item.amount}}元</p>
                    <p class="time">{{item.time}}</p>
                </div>
                <div class="listState">
                    <p class="totalMoney" [ngClass]="{'totalMoneyRed': !!item.postaxPrize || !!item.repoAmount}">{{item.showOrderPayStatusDesc}}</p>
                    <p class="state">{{item.showWinStatusAndExceptionDesc}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<app-footer></app-footer>