<div>
    <div class="userInfo">
        <img routerLink="userinfo" src="../../assets/country.jpg" alt="">
        <p routerLink="signin">caoisodns</p>
    </div>
    <div class="tradeList">
        <ul class="tradeListUl">
            <li>
                <div><i class="icon ion-ios-box"></i>我的钱包</div>
                <div>交易记录<i class="icon ion-chevron-right"></i></div>
            </li>
        </ul>
        <div class="allMoney">
            <div>
                <p>0.00</p>
                <p>可用余额(元)</p>
            </div>
            <div>
                <p>0.00</p>
                <p>冻结余额(元)</p>
            </div>
        </div>
    </div>
    <div class="itemList">
        <ul class="tradeListUl">
            <li>
                <div><i class="icon ion-ios-calendar"></i>我的彩店</div>
                <div><i class="icon ion-chevron-right"></i></div>
            </li>
            <li routerLink="askedquestions">
                <div><i class="icon ion-ios-help"></i>常见问题</div>
                <div><i class="icon ion-chevron-right"></i></div>
            </li>
            <li>
                <div><i class="icon ion-ios-gear"></i>设置</div>
                <div>
                    <i class="icon ion-chevron-right"></i>
                </div>
            </li>
        </ul>
    </div>
</div>

<app-footer></app-footer>