<app-navbar (onNavChanged)='navChanged($event)' (onTabChanged)='tabChanged($event)' [navData]='navData'></app-navbar>

<div class="match">
    <div class="container" *ngIf="tabId==0">
        <app-match-title (click)="doList('0')"></app-match-title>
        <div class="matchItem" *ngIf="listItem == 0">
            <div class="matchList">
                <div class="containerLeft">
                    <span>亚洲杯</span>
                    <span>周四013</span>
                    <span>18:50截至</span>
                    <span (click)="goDetail($event)"> <i class="icon ion-ios-arrow-down"></i></span>
                </div>
                <div class="containerRight">
                    <div class="countryName">
                        <div><img src="../../assets/country.jpg" alt=""> <span class="name">巴林</span> <span class="number">[113]</span></div>
                        <div class="vs">VS</div>
                        <div><span class="number">[113]</span><span class="name">泰国</span> <img src="../../assets/country.jpg"
                                alt=""></div>
                    </div>
                    <div class="scoreItem">
                        <div class="score">
                            <div (click)="selectThisItem($event)"><input type="checkbox"><i class="only">单</i> <span
                                    class="state">胜</span> <span class="num">1.85</span></div>
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">平</span>
                                <span class="num">3.15</span></div>
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">负</span>
                                <span class="num">3.70</span></div>
                        </div>
                        <div class="score">
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1胜</span>
                                <span class="num">1.85</span></div>
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1平</span>
                                <span class="num">3.15</span></div>
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1负</span>
                                <span class="num">3.70</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="match-detail" *ngIf="id==1">
                <div class="detailList">
                    <div class="detailName">历史交锋</div>
                    <div class="detailContent">近4次交锋，巴林1胜2负1平</div>
                </div>
                <div class="detailList">
                    <div class="detailName">近期战绩</div>
                    <div class="detailContent">巴林3胜4平3负，泰国5胜1平4负</div>
                </div>
                <div class="detailList">
                    <div class="detailName">平均欧赔</div>
                    <div class="detailContent average">
                        <span>-</span>
                        <span>-</span>
                        <span>-</span>
                    </div>
                </div>
                <div class="detailList detailNumber">详细数据 <i class="icon ion-ios-arrow-right"></i></div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="tabId==1 || tabId==2 || tabId ==4">
        <app-match-title (click)="doList('0')"></app-match-title>
        <div class="matchItem" *ngIf="listItem == 0">
            <div class="matchList">
                <div class="containerLeft">
                    <span>亚洲杯</span>
                    <span>周四013</span>
                    <span>18:50截至</span>
                    <span (click)="goDetail($event)"> <i class="icon ion-ios-arrow-down"></i></span>
                </div>
                <div class="containerRight">
                    <div class="countryName">
                        <div><img src="../../assets/country.jpg" alt=""> <span class="name">巴林</span> <span class="number">[113]</span></div>
                        <div class="vs">VS</div>
                        <div><span class="number">[113]</span><span class="name">泰国</span> <img src="../../assets/country.jpg"
                                alt=""></div>
                    </div>
                    <div class="scoreItem">
                        <div class="selectScoreItem" (click)="selectContent()">
                            选择投注内容
                        </div>
                    </div>
                </div>
            </div>
            <div class="match-detail" *ngIf="id==1">
                <div class="detailList">
                    <div class="detailName">历史交锋</div>
                    <div class="detailContent">近4次交锋，巴林1胜2负1平</div>
                </div>
                <div class="detailList">
                    <div class="detailName">近期战绩</div>
                    <div class="detailContent">巴林3胜4平3负，泰国5胜1平4负</div>
                </div>
                <div class="detailList detailNumber">详细数据 <i class="icon ion-ios-arrow-right"></i></div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="tabId==3">
        <app-match-title (click)="doList('0')"></app-match-title>
        <div class="matchItem" *ngIf="listItem == 0">
            <div class="matchList">
                <div class="containerLeft">
                    <span>亚洲杯</span>
                    <span>周四013</span>
                    <span>18:50截至</span>
                    <span (click)="goDetail($event)"> <i class="icon ion-ios-arrow-down"></i></span>
                </div>
                <div class="containerRight">
                    <div class="countryName">
                        <div><img src="../../assets/country.jpg" alt=""> <span class="name">巴林</span> <span class="number">[113]</span></div>
                        <div class="vs">VS</div>
                        <div><span class="number">[113]</span><span class="name">泰国</span> <img src="../../assets/country.jpg"
                                alt=""></div>
                    </div>
                    <div class="scoreItem">
                        <div class="allscore">
                            <div (click)="selectThisItem($event)"><input type="checkbox"> <span class="state">0</span>
                                <span class="num">1.85</span></div>
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">1</span>
                                <span class="num">3.15</span></div>
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">2</span>
                                <span class="num">3.70</span></div>
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">3</span>
                                <span class="num">3.70</span></div>
                        </div>
                        <div class="allscore">
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">4</span>
                                <span class="num">1.85</span></div>
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">5</span>
                                <span class="num">3.15</span></div>
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">6</span>
                                <span class="num">3.70</span></div>
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">7+</span>
                                <span class="num">3.70</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="match-detail" *ngIf="id==1">
                <div class="detailList">
                    <div class="detailName">历史交锋</div>
                    <div class="detailContent">近4次交锋，巴林1胜2负1平</div>
                </div>
                <div class="detailList">
                    <div class="detailName">近期战绩</div>
                    <div class="detailContent">巴林3胜4平3负，泰国5胜1平4负</div>
                </div>
                <div class="detailList detailNumber">详细数据 <i class="icon ion-ios-arrow-right"></i></div>
            </div>
        </div>
    </div>
</div>

<div class="pop" *ngIf="showPop">
    <div class="popContainer container">
        <div class="popCountry">
            <div>巴勒斯坦</div>
            <div>VS</div>
            <div>澳大利亚</div>
        </div>

        <!-- 胜平负 -->
        <div class="scoreItem">
            <div class="score">
                <div (click)="selectThisItem($event)"><input type="checkbox"><i class="only">单</i> <span class="state">胜</span>
                    <span class="num">1.85</span></div>
                <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">平</span>
                    <span class="num">3.15</span></div>
                <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">负</span>
                    <span class="num">3.70</span></div>
            </div>
            <div class="score">
                <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1胜</span>
                    <span class="num">1.85</span></div>
                <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1平</span>
                    <span class="num">3.15</span></div>
                <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1负</span>
                    <span class="num">3.70</span></div>
            </div>
        </div>

        <!-- 总进球 -->
        <div class="popScoreItem">
            <div class="popHeader">单</div>
            <div class="popList">
                <div class="popTitle">胜</div>
                <div class="popContent">
                    <div class="popScore">
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">1:0</span><span
                                class="num">1.85</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">2:0</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">2:1</span>
                            <span class="num">3.70</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">3:0</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">3:1</span>
                            <span class="num">3.70</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">3:0</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">3:1</span>
                            <span class="num">3.70</span></div>
                    </div>
                    <div class="popScore">
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1胜</span>
                            <span class="num">1.85</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1平</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1负</span>
                            <span class="num">3.70</span></div>
                        <div (click)="selectThisItem($event)" id="popOther"><input type="checkbox"><span class="state">-1负</span>
                            <span class="num">3.70</span></div>
                    </div>
                </div>
            </div>
            <div class="popList">
                <div class="popTitle">平</div>
                <div class="popContent">
                    <div class="popScore">
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">1:0</span><span
                                class="num">1.85</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">2:0</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">2:1</span>
                            <span class="num">3.70</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">3:0</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)" id="popOther"><input type="checkbox"><span class="state">-1负</span>
                            <span class="num">3.70</span></div>
                    </div>
                </div>
            </div>
            <div class="popList">
                <div class="popTitle">负</div>
                <div class="popContent">
                    <div class="popScore">
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">1:0</span><span
                                class="num">1.85</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">2:0</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">2:1</span>
                            <span class="num">3.70</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">3:0</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">3:1</span>
                            <span class="num">3.70</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">3:0</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">3:1</span>
                            <span class="num">3.70</span></div>
                    </div>
                    <div class="popScore">
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1胜</span>
                            <span class="num">1.85</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1平</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1负</span>
                            <span class="num">3.70</span></div>
                        <div (click)="selectThisItem($event)" id="popOther"><input type="checkbox"><span class="state">-1负</span>
                            <span class="num">3.70</span></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 总进球 -->
        <div class="popScoreItem">
            <div class="popHeader">单</div>
            <div class="popList">
                <div class="popTitle">总进球</div>
                <div class="popContent">
                    <div class="popScoreAll">
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">1:0</span><span
                                class="num">1.85</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">2:0</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">2:1</span>
                            <span class="num">3.70</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">3:0</span>
                            <span class="num">3.15</span></div>
                    </div>
                    <div class="popScoreAll">
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1胜</span>
                            <span class="num">1.85</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1平</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1负</span>
                            <span class="num">3.70</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1负</span>
                            <span class="num">3.70</span></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 半全场 -->
        <div class="popScoreItem">
            <div class="popHeader">单</div>
            <div class="popList">
                <div class="popTitle">半全场</div>
                <div class="popContent">
                    <div class="popScoreHalf">
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">1:0</span><span
                                class="num">1.85</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">2:0</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">2:1</span>
                            <span class="num">3.70</span></div>
                    </div>
                    <div class="popScoreHalf">
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1胜</span>
                            <span class="num">1.85</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1平</span>
                            <span class="num">3.15</span></div>
                        <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1负</span>
                            <span class="num">3.70</span></div>
                    </div>
                    <div class="popScoreHalf">
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1胜</span>
                                <span class="num">1.85</span></div>
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1平</span>
                                <span class="num">3.15</span></div>
                            <div (click)="selectThisItem($event)"><input type="checkbox"><span class="state">-1负</span>
                                <span class="num">3.70</span></div>
                        </div>
                </div>
            </div>
        </div>

        <div class="popButtonGroup">
            <button class="cancel" (click)="cancel()">取消</button>
            <button class="sure" (click)="sure()">确定</button>
        </div>
    </div>
</div>

<app-footer-next></app-footer-next>