<app-common-title [showReturn]=true [title]='title'></app-common-title>
<div class="page">
  <div class="status-bar">
    <span *ngFor="let item of navData" [class.statusBarActive]="tabIndex === item.id"
      (click)="switchTab(item.id)">{{item.name}}<i></i></span>
  </div>
  <div *ngIf="tabIndex==0">
    <div class="contant">
      <p class="title">方案包含赛事</p>
      <ul>
        <li *ngFor="let item of tradeDetailList.contentList">
          <div class="contantListTitle">
            <div class="contantListTime"><span>{{item.jsonContent.week}}{{item.jsonContent.matchNo}}</span> <span
                class="time">({{item.jsonContent.matchTime | date:'yyyy-MM-dd HH:mm'}})</span></div>
            <div class="contantCountry">
              <span>{{item.jsonContent.homeTeam}}</span>
              <span>待开赛</span>
              <span>{{item.jsonContent.guestTeam}}</span>
            </div>
            <i class="icon ion-ios-arrow-down iconDown" (click)="goDetail($event,item)"></i>
          </div>
          <div class="contantListBody" *ngIf="item.expend">
            您投注了: {{item.content}}
          </div>
        </li>
      </ul>
    </div>
    <div class="chart">
      <div class="chartTitle">
        <span class="title">价格走势明细</span>
        <i class="icon ion-ios-arrow-down iconDown" (click)="goDetail($event,option)"></i>
      </div>
      <div *ngIf="option.expend" echarts [options]="option" class="demo-chart"></div>
    </div>

    <div class="footer">
        <div class="price">
          <p>方案本金</p>
          <p>{{tradeDetailList.orderAmount}}元</p>
        </div>
        <div class="button">
          <span>
            发起交易
            <b>({{tradeDetailList.planPrice}}元)</b>
          </span>
        </div>
        <div class="price">
          <p>可盈利</p>
          <p>( <b *ngIf="tradeDetailList.lostPrice>0">-</b>{{tradeDetailList.lostPrice}}元)</p>
        </div>
    </div>
  </div>


</div>