<div>
  <div class="nav backgroundRed">
    <i (click)="goBack()" class="icon ion-chevron-left"></i>
    <div class="navTab">
      <ul>
        <li [class.navActive]="switchNavIndex === 0" (click)="switchNav(0)">全部</li>
        <li [class.navActive]="switchNavIndex === 1" (click)="switchNav(1)">单关</li>
      </ul>
    </div>
    <i class="icon ion-ios-color-filter"></i>
    <i class="icon ion-navicon-round"></i>
  </div>
  <div class="status-bar">
    <span *ngFor="let item of navData" [class.statusBarActive]="switchIndex === item.id" (click)="switchTab(item.id)">{{item.name}}</span>
  </div>

</div>