<div>
    <!-- <app-common-title [showReturn]=false [title]='title'></app-common-title> -->
    <div class="banner"><img src="../../assets/banner.jpg" alt=""></div>
    <div class="container">
        <div class="list">
            <div class="listTitle">热门彩种</div>
            <div class="listItem">
                <div routerLink='football' class="ball">
                    <img src="../../assets/football.jpg" alt="">
                    <div>
                        <p>竞彩足球</p>
                        <p>返奖率高达73%</p>
                    </div>
                </div>
                <div routerLink='basketball' class="ball">
                    <img src="../../assets/basketball.jpg" alt="">
                    <div>
                        <p>精彩篮球</p>
                        <p>篮彩2选1易</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="listTitle">常用功能</div>
            <div class="listItem">
                <div routerLink='#' class="ball">
                    <img src="../../assets/football.jpg" alt="">
                    <div>
                        <p>开奖查询</p>
                        <p>快速 准确</p>
                    </div>
                </div>
                <div routerLink='#' class="ball">
                    <img src="../../assets/basketball.jpg" alt="">
                    <div>
                        <p>竞彩资讯</p>
                        <p>第一手体育资讯</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="listTitle">新手帮助</div>
            <div class="listItem">
                <div routerLink='howtoTread' class="ball wholeHeight">
                    <img src="../../assets/football.jpg" alt="">
                    <div>
                        <p>如何交易</p>
                    </div>
                </div>
                <div class="ballContent">
                    <div routerLink='howtoissueorders' class="ball1">
                        <img src="../../assets/football.jpg" alt="">
                        <div>
                            <p>如何发单</p>
                        </div>
                    </div>
                    <div routerLink='howtoawardprizes' class="ball1">
                        <img src="../../assets/basketball.jpg" alt="">
                        <div>
                            <p>如何颁奖</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>